.btn{
    padding: 8px 20px;
    color: #fff!important;
    background-color: #f7953d!important;
    margin-top:0px;
    font-size: 16px;
    margin-bottom: 24px;
    min-width: 135px;
    font-family: 'Work Sans';
    &.btn-search{
        padding: 8px 10px;
        min-width: 35px;
        margin-left: 15px;
       
        .MuiButton-label{
            svg{
                color:white;
            } 
        }
       
    }    
} 
.selectInput {
    width: 100%;   
    .selectInput-inner{
        select{
            border:1px solid #f7953d!important;
            margin-left: 15px;
            padding:10px;
            background-color: white;
          
        }
        &:before, &:after{
            display:none;       
        }
        .MuiNativeSelect-icon{
            color:#f7953d;
        }
    }

}
table{
    thead{
        th{
            font-family: 'Work Sans';
            font-size: 12px;
            font-weight: 600; 
        }
        
    }
    tbody{
        .MuiTableCell-root{
            font-family: 'Work Sans';
            font-size: 12px;
            
        }
    }
}    