.wrapper{
    background-color:#fafafa;}

.count-info-section{ 
    padding:40px 0px;
    display:flex;
    justify-content: space-between;
    .MuiGrid-grid-md-3 {
        @media (min-width: 960px){
            max-width:20%;
        }
    }  
}
.right-section,.left-section{
    padding-left:8px;
    padding-right:8px;
}
.right-section,.bottom-section, .top-section{
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}
.bottom-section{
    margin-top:16px!important;
    
}
.top-section{
    margin-bottom:20px;
}
.heding-content{
    display:flex;
    justify-content: space-between;
    button{
        padding: 8px 20px;
        color: #fff;
        background-color: #f7953d;
        margin-top:0px;
        font-size: 16px;
        margin-bottom: 24px;
    }
}
.pichart-row{
    display:flex;
    justify-content: space-between;
}

h2{
    text-align: left;
    font-size: 20px;
    color: #474747;
    font-family: 'Work Sans';
    font-weight: 600;
}
h3{
    font-size: 16px;
    text-align: left;
    font-family: 'Work Sans';
    font-weight: 500;
    color: #474747;
}