.dashboard-wrapper{
    background-color:#fafafa;
}
.container{
    padding:0px 42px;
}
.count-info-section{
    padding:40px 0px;
    display:flex;
    justify-content: space-between;
    .MuiGrid-grid-md-3 {
        @media (min-width: 960px){
            max-width:20%;
        }
    }  
}

.right-section,.left-section, .bottom-section, .top-section{
    background-color: #fff;
  

}
.top-section{
    margin-bottom:20px;
}
.heding-content{
    display:flex;
    justify-content: space-between;
    button{
        padding: 12px 30px;
        color: #fff;
        background-color: #f7953d;
        margin-top:0px;
        font-size: 16px;
        margin-bottom: 24px;
    }
}
.pichart-row{
    display:flex;
    justify-content: space-between;
}

h2{
    text-align: left;
    font-size: 20px;
}